body{
    height: 97vh;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 5.5vh;
    width: 3.2vw;
    background-color: darkorange;
}
.hit12{
    width: 42vw;
    display: flex;
    justify-content: space-between;
}
.h{
    display: flex;
}
.dau-{
    display: flex;
    align-items: center;    
}
.t{
    display: flex;
}
.dau--{
    display: flex;
}
.right{
    display: flex;
    justify-content: flex-end;
}
